body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

h1{
  margin: 0 0 15px 0;
  color: #f9faf8;
  font-size: 48px;
  font-weight: 800;
}

button {
  background-color: #3882f6;
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 800;
  border-radius: 10px;
  border: 3px solid #3882f6;
  padding: 10px 50px;
  cursor: pointer;
}

.row {
  display: flex;
}

/*  HEADER */

.header{
  padding: 1% 7% 10rem;
  background-color: #1f2937;
}

.header-navbar {
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-logo{
  max-width: 100%;
  height: auto;
  width: 200px;
  display: block;
  min-width: 200px;
}

.navbar-links{
  margin: 0;
  padding: 0;
  align-items: center;
}

ul.navbar-links {
  list-style: none;
}

.navbar-links a{
  margin-left: 1rem;
}

.header-content{
  justify-content: space-between;
  padding-top: 3%;
  flex-wrap: wrap;
}

.text {
  padding-right: 6%;
  flex: 1 1 400px;
  padding-bottom: 30px;
}

.text p {
  margin: 4% 0;
  color: #e5e7eb;
  font-size: 18px;
  text-align: justify;
}

.header-pic-container {
  flex: 1 1 600px;
}

.header-pic {
  max-width: 100%;
  min-width: 100%;
  display: block;
}


/* information */

.information {
  padding-top: 40px;
}

.information-container {
  gap: 40px;  
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10rem;
}

h2 {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
  margin-bottom: 40px;
  text-align: center;
}

.card {
  width: 250px;
  overflow: hidden;
}

.card-img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-img-top {
  border: 4px solid #3882F6;
  border-radius: 20px;
  overflow: hidden;
}

.card-body {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.card-body p {
  text-align: center;
  margin: 0;
  color: #666;
  font-size: 18px;
}

#capuccino-pic-info {
  object-position: 0 -120px;
}

#blackCoffee-pic-info {
  object-position: right 0;
}

#mokaccino-pic-info {
  object-position: 0 center;
}

#rainCoffee-pic-info {
  object-position: 0 bottom;
}

/* QUOTE */

.quote {
  background-color: #e5e7eb;
  padding-top: 150px;
  padding-bottom: 110px;
}

.quote p {
  margin: 0;
}

.quote-container {
  max-width: 50%;
  margin: 0 auto;
}

.quote-text {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
}

.quote-author {
  font-weight: 800;
  text-align: end;
  font-size: 1.5rem;
  padding-top: 15px;
}

/* CALL TO ACTION */

.action {
  padding: 10% 12%;
}

.action-container {
  background-color: #3882f6;;
  justify-content: space-around;
  max-width: 70%;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 7% 11%;
}

.call {
  font-size: 24px;
  font-weight: 900;
  margin: 0 0 5px 0;
}

.action button {
  border: 3px solid #e5e7eb;
  padding: 10px 0;
  flex: 0 1 170px;
}

.action-text {
  color: #f9faf8;
  flex: 1 1 510px;
  margin-bottom: 10px;
}

.action-text p {
  font-size: 18px;
  margin: 0;
}

/* FOOTER */

.footer {
  background-color: #1f2937;  
  color: #e5e7eb;
  text-align: center;
  padding: 3% 0;
}